append footer
	.footer
		.container-fluid(style="max-width:600px")
			table(style="width:100%")
					tbody
						tr
							td
								.text-muted.text-left <em>K.0.0.1</em>
							td
								.text-muted.text-right <em>Miguel Angel Castellanos, 2016</em>