extends ../node_modules/jade-bootstrap/_bootstrap


append body
	.container
		h1= title + "Mi jade"
		+icon("search")
		+a-btn("#") Default Link Button
		+a-btn-primary("#") Primary Link Button
		+a-btn-info("#") Info Link Button
		+a-btn-warning("#") Warning Link Button
		+a-btn-danger("#") Danger Link Button
		+a-btn-success("#") Success Link Button

		