extends ../node_modules/jade-bootstrap/_bootstrap


append body
	.container
		p <span class="glyphicon glyphicon-thumbs-up aria-hidden="true"></span>: 10 
		h1= title
		+accordion("sample")
			+accordion-item-default('Pregunta 1',"sample","true")
				|	This is first accordion content
			+accordion-item-default("Pregunta 2","sample")
				|	This is second accordion content
			+accordion-item-default("Pregunta 3","sample")
				|	Esto es un enunciado
				table
					tbody
						tr
							td(style="width:50px") <span class="glyphicon glyphicon-thumbs-up aria-hidden="true"> </span><input type="radio" value=""></td> 
							td Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto.
						tr
							td(style="width:50px") <span class="glyphicon glyphicon-thumbs-up aria-hidden="true"> </span><input type="radio" value=""></td> 
							td Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto.
						tr
							td(style="width:50px") <span class="glyphicon glyphicon-thumbs-up aria-hidden="true"> </span><input type="radio" value=""></td> 
							td Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto.			
				+accordion("sample2")
					+accordion-item-primary("Explicaciones de otros alumnos","sample2")
						| Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto. Lorem Ipsum ha sido el texto de relleno estándar de las industrias desde el año 1500, cuando un impresor (N. del T. persona que se dedica a la imprenta) desconocido usó una galería de textos y los mezcló de tal manera que logró hacer un libro de textos especimen. No sólo sobrevivió 500 años, sino que tambien ingresó como texto de relleno en documentos electrónicos, quedando esencialmente igual al original. Fue popularizado en los 60s con la creación de las hojas "Letraset", las cuales contenian pasajes de Lorem Ipsum, y más recientemente con software de autoedición, como por ejemplo Aldus PageMaker, el cual incluye versiones de Lorem Ipsum.
						<h6><p class="text-right"><em>Sara Fernandez Liaño, 2016, </em><span class="glyphicon glyphicon-thumbs-up aria-hidden="true"></span>: 10</p></h6>
						table(style="width:100%")
							tbody
								tr
									td(style="width:10%") <span class="glyphicon glyphicon-chevron-left aria-hidden="true"></span>
									td(style="width:80%") <p class="text-center">[1 / 6]</p>
									td(style="width:10%") <span class="glyphicon glyphicon-chevron-right pull-right aria-hidden="true"></span>
			+accordion-item-default("Pregunta 4","sample")
				P This is second accordion content


		<p>This is a paragraph.</p>
		<p id="test">This is another paragraph.</p>

		<button>Click me</button>


	

