extends qfiles/_bootstrap



append body
	.container
		h1 K-cuestionario
		.panel.panel-default(id="panelResultados")
			.panel-heading Resultados
			.panel-body
				p Aciertos = 10
				p Fallos = 2
				p Puede ver los resultados
		.alert.alert-info 
			<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
			p Puede ver las explicaciones de otros alumnos

		+acordeonMadre("madre")
			each pregunta, i in pr
				+acordeonHijo(pregunta, i, "madre")

		button(id="miboton") Corregir

		.modal.fade(id="mimodal", role="dialog")
			.modal-dialog
				.modal-content
					.modal-header
						button(type="button" class="close" data-dismiss="modal")&times;
						.modal-title Mensaje
					.modal-body 
						span(id="textomodal")

	.footer
		.container
			.text-muted.text-right <em>Miguel Angel Castellanos, 2016</em>









