extends qfiles/_bootstrap



append body
	.container
		span(style="font-size:100px;", class="text-primary") 
			strong K
		span(style="font-size:25px;", class="text-muted")   Cuestionarios
		blockquote(class="blockquote-reverse") 
			p Tema 1: Introducción
			small 20 preguntas aleatorias

		+acordeonMadre("madre")
			each pregunta, i in pr
				+acordeonHijo(pregunta, i, "madre")

		p(style="text-align: center;") 
			button(class="btn btn-primary", id="corregir") Corregir

		//-p(style="text-align: center;") 
			button(class="btn btn-primary", id="enviar") Enviar


		.modal.fade(id="mimodal", role="dialog")
			.modal-dialog
				.modal-content
					.modal-header
						button(type="button" class="close" data-dismiss="modal") &times;
						.modal-title AVISO:
					.modal-body 
						span(id="textomodal")
					.modal-footer
						.text-center
							button(type="button" class="btn btn-default btn-sm" data-dismiss="modal") Cerrar

	.footer
		.container
			table(style="width:100%")
					tbody
						tr
							td
								.text-muted.text-left <em>K.0.0.1</em>
							td
								.text-muted.text-right <em>Miguel Angel Castellanos, 2016</em>









