extends qfiles/_bootstrap



append body
	.container
		span(style="font-size:100px;", class="text-primary") 
			strong K
		span(style="font-size:25px;", class="text-muted")   Cuestionarios
		blockquote(class="blockquote-reverse") 
			p Tema 1: Introducción
			small 20 preguntas aleatorias

		+acordeonMadre("madre")
			each pregunta, i in pr
				+acordeonHijo(pregunta, i, "madre")

		p(style="text-align: center;") 
			button(class="btn btn-primary", id="miboton") Corregir

		.modal.fade(id="mimodal", role="dialog")
			.modal-dialog
				.modal-content
					.modal-header
						button(type="button" class="close" data-dismiss="modal") 
						.modal-title Mensaje
					.modal-body 
						span(id="textomodal")

	.footer
		.container
			.text-muted.text-right <em>Miguel Angel Castellanos, 2016</em>









